.title_area {
    margin-right: 30%;
    margin-left:  30%;
}

.main_title {
    border-bottom: 3px solid maroon;
    text-shadow: -2px 2px 4px darkslategrey;
    text-align: center;

}

.menu {
    margin-right: 12%;
    margin-left:  10%;
    text-align: center;
}

.menu_item {
    display: inline;
    margin: 0 5px 0 0;
    padding: 5px 10px 5px 10px;
    border: 1px solid darkslategrey;
    text-align: center;
    border-radius: 3px;
}

.menu_item>a {
    text-decoration: none;
    color: indigo;
    text-shadow: -1px 1px 2px darkgrey;
}

.menu_item>a:hover {
    text-shadow: -1px 1px 2px black;
}