.main_title {
    border-bottom: 3px solid maroon;
    text-shadow: -2px 2px 4px darkslategrey;
    text-align: center;
    margin-right: 30%;
    margin-left:  30%;
}

.menu {
    text-align: center;
}

.menu_item {
    display: inline;
    margin: 0 5px 0 0;
    padding: 5px 20px 5px 0;
    border-color: darkslategrey;
    text-align: center;
}

.menu_item>a {
    text-decoration: none;
    color: burlywood;
    text-shadow: -1px 1px 2px black;
}

.menu_item>a:hover {
    text-shadow: -1px 1px 2px darkgrey;
}