<!doctype HTML>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block pagetitle %}
        {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <h1>Sean's Django Test Site</h1>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'appCollection' %}">App Collection</a></li>
            <li><a href="{% url 'about' %}"> About</a></li>
        </ul>
        {% block MainContent %}

        {% endblock %}
        <script src="scripts/main.js"></script>
    </body>
</html>
        
