{% load static %}

<!doctype HTML>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {% block pagetitle %}
        {% endblock %}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'CSS/base.css' %}">
    </head>

    <body>
        <h1>Sean's Django Test Site</h1>
        <ul class="menu">
            <li class="menu_item"><a href="{% url 'home' %}">Home</a></li>
            <li class="menu_item"><a href="{% url 'appCollection' %}">App Collection</a></li>
            <li class="menu_item"><a href="{% url 'about' %}"> About</a></li>
        </ul>
        {% block MainContent %}

        {% endblock %}
        <script src="{% static 'scripts/main.js' %}"></script>
    </body>
</html>
        
